* {
    font-family: 'Lucida Console', monospace;
}

body, html {
    margin: 0;
    background-color: #41434a;
    color: white;
    height: 100vh;
    overflow-y: auto;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 0 4px 6px #1c1c1c;
}

h5 {
    text-shadow: 0 4px 6px #1c1c1c;
}

h6 {
    margin: 0;
    text-shadow: 0 4px 6px #1c1c1c;
}

button {
    margin: 0 5px;
    background-color: #41434a;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px #1c1c1c;
    cursor: pointer;
}

.search-button-negative {
    background-color: white;
    color: #41434a;
    border: 1px solid #41434a;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px #1c1c1c;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #41434a;
    border: 1px solid #41434a;
}

table {
    justify-content: center;
    width: auto;
    border-collapse: collapse;
    max-width: 90vw;
    display: flex;
    font-size: 80%;
}

th {
    background-color: white;
    color: #41434a;
    width: auto;
    padding: 8px;
    border: 1px solid white;
    text-align: left;
    white-space: nowrap;
    user-select: none;
}

td {
    width: auto;
    padding: 8px;
    max-width: 40vw;
    overflow-wrap: break-word;
    border: 1px solid white;
    text-align: left;
}

mark {
    background-color: white;
    color: #41434a;
}

a {
    color: lightgray;
    text-decoration: none;
    transition: filter 0.2s;
}

a:visited {
    color: lightgray;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
    filter: brightness(1.5);
}

.align-right {
    text-align: right;
    padding-left: 0px;
}

.color-stat {
    color: #f57c23;
    font-weight: bold;
    font-size: 90%;
}

.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tracestats-stats {
    margin: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}

.no-selection {
    user-select: none;
}

.no-margin {
    margin: 0;
}

.right-margin-small {
    margin-right: 5px;
}

.table-margin-small {
    margin-top: 10px;
}

.table-margin {
    margin-top: 30px;
}

.search-body {
    margin-top: 60px;
    margin-bottom: 60px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}

.search-input {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #41434a;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 2px 6px;
    width: 550px;
    box-shadow: 0 4px 6px #1c1c1c;
}

.file-input {
    font-family: 'Lucida Console', monospace;
    font-size: 90%;
    margin-right: 0px;
}

.password-input {
    margin-left: 10px;
    background-color: #41434a;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 2px 6px;
    width: 200px;
    box-shadow: 0 4px 6px #1c1c1c;
}

.api-stats-container {
    margin-top: 20px;
    user-select: none;
}

.api-stats-chart {
    display: flex;
    margin-top: 10px;
    height: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}

.notification-none {
    margin: 0;
    user-select: none;
}

.notification-error {
    margin-top: 20px;
    color: lightcoral;
    text-shadow: 0 4px 6px #1c1c1c;
    user-select: none;
}

.notification-success {
    margin-top: 20px;
    color: lightgreen;
    text-shadow: 0 4px 6px #1c1c1c;
    user-select: none;
}

.notification-info {
    margin-top: 20px;
    color:#f57c23;
    text-shadow: 0 4px 6px #1c1c1c;
    user-select: none;
}

